<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="reverse.domain.name"
  version="1.0.0-dev">
  <name>ionic-app-starter</name>
  <description>Easily start an Ionic app</description>
  <author
    href="https://twitter.com/fingerproof"
    email="sp@fing.pro">
    Sebastien Pittion
  </author>
  <content src="index.html"/>
  <access origin="mailto:*" launch-external="yes"/>
  <access origin="tel:*" launch-external="yes"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="tel:*"/>
  <allow-navigation href="mailto:*"/>
  <allow-navigation href="tel:*"/>
  <preference name="phonegap-version" value="cli-5.2.0"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="orientation" value="portrait"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon.png" width="57" height="57"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon@2x.png" width="114" height="114"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-40.png" width="40" height="40"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-40@2x.png" width="80" height="80"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-50.png" width="50" height="50"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-50@2x.png" width="100" height="100"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-60.png" width="60" height="60"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-60@2x.png" width="120" height="120"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-60@3x.png" width="180" height="180"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-72.png" width="72" height="72"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-72@2x.png" width="144" height="144"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-76.png" width="76" height="76"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-76@2x.png" width="152" height="152"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-small.png" width="29" height="29"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-small@2x.png" width="58" height="58"/>
  <icon gap:platform="ios" src="resources/ios/icon/icon-small@3x.png" width="87" height="87"/>
  <icon gap:platform="android" src="resources/android/icon/drawable-ldpi-icon.png" gap:qualifier="ldpi"/>
  <icon gap:platform="android" src="resources/android/icon/drawable-mdpi-icon.png" gap:qualifier="mdpi"/>
  <icon gap:platform="android" src="resources/android/icon/drawable-hdpi-icon.png" gap:qualifier="hdpi"/>
  <icon gap:platform="android" src="resources/android/icon/drawable-xhdpi-icon.png" gap:qualifier="xhdpi"/>
  <icon gap:platform="android" src="resources/android/icon/drawable-xxhdpi-icon.png" gap:qualifier="xxhdpi"/>
  <icon gap:platform="android" src="resources/android/icon/drawable-xxxhdpi-icon.png" gap:qualifier="xxxhdpi"/>
  <gap:splash src="resources/android/splash/drawable-port-xhdpi-screen.png"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
  <gap:splash gap:platform="ios" src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>
  <gap:splash gap:platform="android" src="resources/android/splash/drawable-port-ldpi-screen.png" gap:qualifier="port-ldpi"/>
  <gap:splash gap:platform="android" src="resources/android/splash/drawable-port-mdpi-screen.png" gap:qualifier="port-mdpi"/>
  <gap:splash gap:platform="android" src="resources/android/splash/drawable-port-hdpi-screen.png" gap:qualifier="port-hdpi"/>
  <gap:splash gap:platform="android" src="resources/android/splash/drawable-port-xhdpi-screen.png" gap:qualifier="port-xhdpi"/>
  <gap:splash gap:platform="android" src="resources/android/splash/drawable-port-xxhdpi-screen.png" gap:qualifier="port-xxhdpi"/>
  <gap:splash gap:platform="android" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" gap:qualifier="port-xxxhdpi"/>
</widget>
