<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="reverse.domain.name"
  version="1.0.0-dev">
  <name>ionic-app-starter</name>
  <description>Easily start an Ionic app</description>
  <author
    href="https://twitter.com/fingerproof"
    email="sp@fing.pro">
    Sebastien Pittion
  </author>
  <content src="index.html"/>
  <access origin="mailto:*" launch-external="yes"/>
  <access origin="tel:*" launch-external="yes"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="tel:*"/>
  <allow-navigation href="mailto:*"/>
  <allow-navigation href="tel:*"/>
  <preference name="phonegap-version" value="cli-5.2.0"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="handset"/>
  <preference name="deployment-target" value="8.0"/>
  <preference name="android-minSdkVersion" value="19"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
