ion-view.view-home(
  view-title="{{ 'STATES.HOME.TITLE' | translate }}",
  translate-namespace="STATES.HOME")
  ion-content
    ng-include(src="'modules/app.states.home/smartphone/content.home.html'")
