<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  android-packageName="$ANDROID_PACKAGE_ID"
  ios-CFBundleIdentifier="$IOS_PACKAGE_ID"
  id="$PACKAGE_ID"
  version="$PACKAGE_VERSION">
  <name>$PACKAGE_NAME</name>
  <description>$PACKAGE_DESCRIPTION</description>
  <content src="smartphone.html"/>
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="250"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="deployment-target" value="8.0"/>
  <preference name="android-minSdkVersion" value="17"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="assets/resources/$APP/android/icon/icon-ldpi.png" density="ldpi"/>
    <icon src="assets/resources/$APP/android/icon/icon-mdpi.png" density="mdpi"/>
    <icon src="assets/resources/$APP/android/icon/icon-hdpi.png" density="hdpi"/>
    <icon src="assets/resources/$APP/android/icon/icon-xhdpi.png" density="xhdpi"/>
    <icon src="assets/resources/$APP/android/icon/icon-xxhdpi.png" density="xxhdpi"/>
    <icon src="assets/resources/$APP/android/icon/icon-xxxhdpi.png" density="xxxhdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-port-xhdpi.png" density="port-xhdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-port-xxhdpi.png" density="port-xxhdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-land-xhdpi.png" density="land-xhdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-land-xxhdpi.png" density="land-xxhdpi"/>
    <splash src="assets/resources/$APP/android/splash/splash-land-xxxhdpi.png" density="land-xxxhdpi"/>
  </platform>
  <platform name="ios">
    <icon src="assets/resources/$APP/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="assets/resources/$APP/ios/icon/icon-40@2x.png" width="80" height="80"/>
    <icon src="assets/resources/$APP/ios/icon/icon-50.png" width="50" height="50"/>
    <icon src="assets/resources/$APP/ios/icon/icon-50@2x.png" width="100" height="100"/>
    <icon src="assets/resources/$APP/ios/icon/icon-60.png" width="60" height="60"/>
    <icon src="assets/resources/$APP/ios/icon/icon-60@2x.png" width="120" height="120"/>
    <icon src="assets/resources/$APP/ios/icon/icon-60@3x.png" width="180" height="180"/>
    <icon src="assets/resources/$APP/ios/icon/icon-72.png" width="72" height="72"/>
    <icon src="assets/resources/$APP/ios/icon/icon-72@2x.png" width="144" height="144"/>
    <icon src="assets/resources/$APP/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="assets/resources/$APP/ios/icon/icon-76@2x.png" width="152" height="152"/>
    <icon src="assets/resources/$APP/ios/icon/icon-small.png" width="29" height="29"/>
    <icon src="assets/resources/$APP/ios/icon/icon-small@2x.png" width="58" height="58"/>
    <icon src="assets/resources/$APP/ios/icon/icon-small@3x.png" width="87" height="87"/>
    <icon src="assets/resources/$APP/ios/icon/icon.png" width="57" height="57"/>
    <icon src="assets/resources/$APP/ios/icon/icon@2x.png" width="114" height="114"/>
    <splash src="assets/resources/$APP/ios/splash/Default-568h~iphone.png" width="640" height="1136"/>
    <splash src="assets/resources/$APP/ios/splash/Default-667h~iphone.png" width="750" height="1334"/>
    <splash src="assets/resources/$APP/ios/splash/Default-736h~iphone.png" width="1242" height="2208"/>
    <splash src="assets/resources/$APP/ios/splash/Default-748h@2x~ipad.png" width="2048" height="1496"/>
    <splash src="assets/resources/$APP/ios/splash/Default-748h~ipad.png" width="1024" height="748"/>
    <splash src="assets/resources/$APP/ios/splash/Default-Landscape-736h~iphone.png" width="2208" height="1242"/>
    <splash src="assets/resources/$APP/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="assets/resources/$APP/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="assets/resources/$APP/ios/splash/Default@2x~ipad.png" width="1536" height="2048"/>
    <splash src="assets/resources/$APP/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="assets/resources/$APP/ios/splash/Default~ipad.png" width="768" height="1024"/>
    <splash src="assets/resources/$APP/ios/splash/Default~iphone.png" width="320" height="480"/>
  </platform>
</widget>
